.events {
  background-color: #AACDD8;
  padding: 5em 5em 10em 5em;
}

.events-header {
  text-align: center;
  padding-bottom: 1em;
}

.events-timeline .ant-timeline-item-content {
  font-size: 18px;
}
