.header {
  width: 100%;
  background-color: #F3E36D;
  padding: 3em 5em;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header {
    min-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width: 961px) {
  .header {
    min-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
}